# Capstone Project
This notebook is supposed to take a look at the data sued for the project.

In [1]:
import pandas as pd

In [18]:
tweets_df = pd.read_csv("data/downloaded.tsv", sep="\t", header=None)
tweets_df.head()

,0,1,2,3,4
0,385497381925847040,positive,16d4ea17feedebbc87d8ddf3f57c172b,[],Not Available
1,364483696570945536,neutral,a6416685aa01bb28315ec81baa50639d,[],Not Available
2,373606425379225600,positive,e9f93f030ab466d8aa624d1bfb33d31b,[],Not Available
3,367189542857482240,neutral,c020aa23ff1f8ff985ce489b2b678674,[],Tainted Talents (Ateliertagebuch.) » Wir sind ...
4,368327046574776321,neutral,0096b66e311fffcca65c23d2a310083b,[],Aber wenigstens kommt #Supernatural heute mal ...

In [19]:
len(tweets_df.index)

9939

In [16]:
cleaned_df = tweets_df[tweets_df[4] != 'Not Available']
cleaned_df.head()

,0,1,2,3,4
3,367189542857482240,neutral,c020aa23ff1f8ff985ce489b2b678674,[],Tainted Talents (Ateliertagebuch.) » Wir sind ...
4,368327046574776321,neutral,0096b66e311fffcca65c23d2a310083b,[],Aber wenigstens kommt #Supernatural heute mal ...
6,368309870673793024,neutral,575fd73efa41e07e2b0c360a721d19d7,[],DARLEHEN - Angebot für Schufa-freie Darlehen: ...
7,362896018389475328,neutral,8b824c765a7642a980b9e14c02830126,[],ANRUF ERWÜNSCHT: Hardcore Teeny Vicky Carrera:...
8,367912309303148545,neutral,a07f6bc77b0cfb06a75c7cb1a88d752b,[],Na? Wo sind Frankens heimliche Talente? - Die ...

In [17]:
len(cleaned_df.index)

6539